---
import Layout from '../../../layouts/Layout.astro';
import EdgeFunctionExplainer from '../../../components/EdgeFunctionExplainer.astro';
---

<Layout title="Not US">
    <h1 class="mb-8">You&apos;re not in the US!</h1>
    <EdgeFunctionExplainer />
</Layout>